@import "./variables";
@import "./mixins";
@import "./reset";

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// прижимаємо footer
	> main {
		flex: 1 1 auto;
	}
}

$pc: $containerWidth + px;
$tablet: 991.98 + px;
$mobile: 767.98 + px; 
$mobileSmall: 479.98 + px;

[class*="__container"] {
		max-width: $maxWidthContainer + px;
		margin: 0 auto;
    padding: 0 15px;
}
[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: $maxWidthContainer + px;
			box-sizing: content-box;
		}
		@media (max-width: $pc) {
			max-width: 970px;
		}
		@media (max-width: $tablet) {
			max-width: 750px;
		}
		@media (max-width: $mobile) {
			max-width: none;
		}
	}

body{
  background-color: #ffffff;
}

.h1, h2, h3, h4, h5, h6{
  font-weight: 700;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  &__top{
    background-color:$blueColor;
    padding: 15px 0;
  }
  &__logo{
    z-index: 5;
  }
}

.top-header{
  &__container{
    display: flex;
    justify-content: space-between;
  }
  &__actions, &__links{
    font-family: "Montserrat";
    font-size: 14px;
    color: #fff;
  }
  &__item{
    transition: color 0.3s ease 0s;
    &:hover{
      color: rgb(180, 180, 180);
    }
    & span{
    padding-left: 5px;
    }
  }
  .delimetr{
    padding: 0px 5px;
  }
}
.main-header{
  background-color: #fff;
  padding: 20px 0;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.26);
  &__container{
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap:20px;
    align-items:center;
  }
  &__search{
    color: $blueColor;
    transition: color 0.3s ease 0s;
    &:hover{
      color: #000;
    }
  }
  &__actions{
    display: flex;
    gap: 15px;
    align-items: center;
    z-index: 5;
  }
  
}
.burger{
  display: none;
}
.menu {
  padding: 10px 0;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    column-gap: 44px;
  
  }
  &__link {
    color: $blueColor;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    transition: color 0.3s ease 0s;
    text-transform: uppercase;
    &:hover{
      color: #000;
    }
  }
}
.learn{
  padding-top: 133px;
  background-image: url(../images/first-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 133px;
  height: 933px;
  &__box{
    padding-top: 150px;
    max-width: 590px;
  }
  &__title{
    font-size: 72px;
    line-height: 79px;
    color:#333;
    padding-bottom: 40px;
    position: relative;
    &::after{
      position: absolute;
      content:  "";
      bottom: 0;
      left: 0;
      width: 35%;
      height: 4px;
      background:  #707070;
    }
  }
  &__subtitle{
    margin-top: 100px;
    font-size: 30px;
    line-height: 39px;
  }
}
.cards{
  position: relative;
  margin-top: -185px;
  z-index: 10;
  &__container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}
.item-cards{
  background: #FFFFFF;
  padding: 30px;
  width: 350px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.19);
  &__top{
    display: flex;
    justify-content: space-between;
  }
  &__main{
    margin: 20px 0 15px;
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 24px;
    color:$greyColor;
  }
  &__title{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &__subtitle{
    text-transform: uppercase;
    color:#808080;
    font-size: 18px;
    position: relative;
    padding-bottom: 15px;
    &::after{
      position: absolute;
      content:  "";
      bottom: 0px;
      left: 0;
      width: 35%;
      height: 2px;
      background:  $blueColor;
    }
  }
  &__time{
    margin: 15px 0;
    font-size: 16px;
    line-height: 26px;
  }
  &__icon{
    &:hover{
      opacity: 0.8;
    }
  }
}

.btn{
  display: inline-block;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 12px;
  line-height: 26px;
  align-items: center;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: $blueColor;
  padding: 10px 30px;
  border-radius:2px;

  transition: all 0.3s ease 0s;
  &:hover{
    background-color: #000;
    color:#fff;
  }
}
.play__btn{
  & img{
    height: 50px;
  }
}
.about{
  background: #fff;
  padding: 160px 0 100px;
  &__container{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 50px;
    align-items:center;
  }
  &__content{
    max-width: 560px;
  }
  &__title{
    @extend %secondary-title;
    margin-bottom: 36px;
  }
  &__text{
    line-height: 24px;
    margin-bottom: 18px;
  }
  &__image{
    max-width: 540px;
    height: 100%;
  }
}
.interested{
  padding: 100px 0;
  background-color: #F7F7F7;
  &__title{
    @extend %secondary-title;
    margin-bottom: 42px;
  }
  &__blocks{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    
  }
  &__block{
    // max-width: 350px;
    height: 287px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items:center;
    justify-content: center;
    &:hover{
      box-shadow: 0px 1px 10px rgb(0 0 0 / 10%);
    }
    & i{
      font-size: 80px;
      color: #333;
      margin-bottom: 10px;
      cursor: pointer;
      &:hover{
        opacity: 0.7;
      }
    }
    &-inner{
      text-align: center;
    }
    &__name{
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.courses{
  padding: 100px 0;
  &__title{
    @extend %secondary-title;
    margin-bottom: 70px;
  }
  &__list{
    display: flex;
    justify-content: space-between;
   gap: 20px;
  }
  &__item{
    transition: all 0.1s ease 0s;
    box-shadow: 0px 0px 2px rgba(27, 23, 26, 0.1);
    width: 350px;
    &:hover{
      box-shadow: 0px 1px 10px rgb(0 0 0 / 10%);
    }
  }
}

.item-courses{
  display: flex;
  flex-direction: column;
  &:hover{
    .item-courses__image{
      opacity: 0.7;
    }
  }
  &__image{
    width: 100%;
  }
  &__content{
    padding: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__top-item{
    display: flex;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__direction{
    font-size: 13px;
    line-height: 23px;
    color: #000000;
  }
  &__price{
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 0.92px;
    color: #1414D9
  }
  &__field{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.718989px;
    color: #333333;
  }
  &__stars{
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.56px;
    color: #ED8000;
  }
  &__main{
    margin-top: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__text{
    flex: 1 0 auto;
    line-height: 24px;
    letter-spacing: 0.639102px;
  }
  &__btn{
    margin-top: 50px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.479326px;
    color: #FFFFFF;
  }

}

.achievements {
  padding: 100px 0 200px;
  background-color: #F7F7F7;
  &__title{
    @extend %secondary-title;
    margin-bottom: 50px;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    margin-bottom: 40px;
  }
  &__item{
    flex: 0 0 25%;
  }
  &__text{
    padding-top: 30px;
    max-width: 460px;
    line-height: 24px;
    position: relative;
    &::before{
      position: absolute;
      content:'';
      width: 80%;
      background:#555555;
      height: 2px;
      top: 0;
      left: 0;
    }
  }
}
.item-achievements{
  display: flex;
  font-weight: 700;
  column-gap: 20px;
  &__num{
    color: #333;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 5px;
  }
  &__name{
    line-height: 14px;
  }
  &__icon{
    height: 100%;
  }
}

.skills{
  position:relative;
  margin-top: -150px;
  padding: 0 0 100px;
  &__video{
    background-image: url(../images/skills/bg.jpg);
    height: 370px;
  }
  &__title{
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.75px;
    color: #FFFFFF;
  }
}
.video{
  
  background-position:center;
  background-size:cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
}
.class{
  padding: 80px 0;
  background: #FAFAFA;
  &__container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  &__top{
    margin-bottom: 50px;
  }
  &__title{
    @extend %secondary-title;
    letter-spacing: 1.44px;
  }
  &__subtitle{
    color: #333;
    font-size: 20px;
    margin-bottom: 5px;
  }
  &__text{
    max-width: 480px;
    letter-spacing: 0.64px;
    line-height: 24px;
    margin-bottom: 50px;
  }
  &__main{
    flex: 0 1 50%;
  }
  &__frame{
    flex: 0 1 512px;
  }
  &__btn{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}

.frame-class{
  &__video{
    background-image: url(../images/classes/1.png);
    height: 100%;
  }
  &__navigation{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  &__pages{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.72px;
    color: $greyColor
  }
  &__arrows{
    display: flex;
    color: #fff;
    column-gap: 10px
  }
  &__arrow{
    display: flex;
    background: $blueColor;
    border-radius: 3px;
    height: 25px;
    width: 25px;
    align-items:center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
  }
}

.gallery{
  &__content{
    display: grid;
    // grid-auto-columns: calc(100%/3);
    position: relative;
  }
  &__photo{
    height: 100%;
    width: 100%;
    object-fit: cover;
    &:hover{
      opacity: 0.7;
    }
  }
  &__photo_1{
    grid-area: 1 / 1 / 2 / 2;
  }
  &__photo_2{
    grid-area: 1 / 2 / 2 / 3;
  }
  &__photo_3{
    grid-area: 2 / 1 / 3 / 3;
  }
  &__photo_4{
    grid-area: 1 / 3 / 3 / 4;
  }
  
  &__btn{
    position:absolute;
    left: calc(50% - 145px);
    opacity: 0.5;
    bottom: 0;
    z-index: 5;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 70px;
    border-radius: 3px
  }
}

.news{
  padding: 100px 0;
  &__title{
    @extend %secondary-title;
    color:#333;
    letter-spacing: 1.2px;
    margin-bottom: 50px;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 50px;
  }
  &__item{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    max-width: 360px;
    transition: all 0.1s ease 0s;
    &:hover{
      box-shadow:0px 1px 10px rgb(0 0 0 / 10%);
    }
  }
  &__btn{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}

.item-news{
  &:hover{
    .item-news__image{
      opacity: 0.7;
    }
  }
  &__content{
     padding: 30px;
  }
  &__image{
    width: 100%;
  }
  &__date{
    font-size: 13px;
    line-height: 23px;
    color: #808080;
  }
  &__text{
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 10px;
  }
  &__about{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: $blueColor;
    &:hover{
      text-decoration: underline;
    }
  }
}

.footer{
  padding: 100px 0 50px;
  background: #212121;
  &__top{
    display: flex;
    justify-content: space-between;
  }
  &__signup{
    flex: 0 0 150px;
  }
  &__title{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    & > a{
      font-size: 16px;
      line-height: 24px;
      color: #B7B7B7;  
      &:hover{
        text-decoration: underline;
      }
    }
  }
  &__form {
    flex: 0 1 auto;
    & input[type=email]{
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff;
      font-size: 13px;
      line-height: 23px;
      padding: 10px 20px;
      margin-right: 10px;
      width: 380px;
    }
  }
  &__btn{
    display: inline;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #212121;
    background-color: #fff;
  }
  &__main{
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 20px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    &::after{
      position: absolute;
      content: "";
      right: 0;
      left: 0;
      bottom: 0;
      height: 1px;
      background-color: $mainColor;
    }
  }
  &__adress{
    margin-bottom: 30px;
  }
  &__text{
    line-height: 24px;
    color: #B7B7B7;  
  }
  &__map{
    max-width: 475px;
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
  }
  &__copyright{
    line-height: 24px;
    color: #fff;
  }

}

.socials-footer{
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #fff;
  column-gap: 15px;
  &__item{
    &:hover{
      color: $blueColor;
    }
  }
}

.links-footer{
  &__item{
    font-size: 16px;
    line-height: 24px;
    color: #B7B7B7; 
    &:hover{
        text-decoration: underline;
    } 
  }
}
.info-footer{
  display: flex;
  column-gap: 15px;
  &__item{
    line-height: 24px;
    color: #B7B7B7;
    & i {
      margin-right: 5px;
    }
  }
}

// <======================= media =======================>


@include _1000{
  .learn{
    &__box{
      max-width: 450px;
    }
    &__title{
      font-size: 56px;
      line-height: 60px;
    }
    &__subtitle{
      font-size: 23px;
      line-height: 30px;
    }
  }
  .about{
    &__container{
      flex-wrap: wrap;
    }
    &__image, &__content{
      max-width: unset;
    }
    &__image{
      width: 100%;
    }
  }

  .item-courses{
    &__top-item{
      flex-direction: column;
    }
  }
  .footer{
    &__map{
      max-width: 330px;
    }
    &__title, &__title > a, &__text, &__copyright{
      font-size: 14px;
      line-height: 20px;
    }
  }
  .links-footer{
    &__item{
      font-size: 14px;
      line-height: 20px;
    }
  } 
}

@include _768{
  .top-header{
    &__container{
      justify-content: flex-end;
    }
    &__links{
      display: none;
    }
  }
  .main-header{
    &__container{
      grid-template-columns: auto 1fr auto auto;
    }
  }
  .menu{
    &__list{
      flex-direction: column;
    }
    &__link{
      font-size:30px;
      line-height: 40px;
      color: #f7f7f7
    }
    &__body{
      display: flex;
      flex-direction: column;
      align-items:center;
      gap: 30px;
      position: fixed;
      width:  100%;
      height: 100%;
      top: 0;
      left: -100%;
      transition: all 0.3s ease 0s;
      overflow: auto;
      background-color: #3e3ea5;
      padding: 150px 15px 15px 15px;
      &::before{
        content: "";
        position: fixed;
        top: 0;
        left: -100%;
        transition: all 0.3s ease 0s;
        width: 100%;
        height: 133px;
        background-color: rgb(251 251 251);
        z-index: 3;
        box-shadow: 0px 6px 20px rgb(0 0 0 / 20%);
      } 
      .menu-open &{
        left: 0;
        &::before{
          left: 0;
        }
      }
    }
  }

  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - 1px);
    }
    &-open{
      span {
        width: 0;
      }
      &::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
      }
    }
  }
  .learn{
    height: 510px;
    &__box{
      padding-top: 180px;
    }
    &__title{
      font-size: 32px;
      line-height: 40px;
      padding-bottom: 20px;
    }
    &__subtitle{
      font-size: 18px;
      line-height: 24px;
      margin-top: 20px;
    }
  }

  .cards{
    margin-top: 0px;
    padding-top: 50px;
    &__container{
      flex-direction: column;
    }
  
  }
  .item-cards{
    width: 100%;
  }
  .about{
    padding: 50px 0;
  }
  .courses{
    &__list{
      flex-direction: column;
    }
    &__item{
      display: flex;
      width: 100%;
    }
  }

  .item-courses{
    &__image{
      width: 210px;
      height: 100%;
      object-fit: cover; 
    }
    &__content{
      padding: 15px;
    }
    &__top-item{
      &:not(:last-child) {
        margin-bottom: 0px;
      }
    }
    &__direction{
      font-size: 11px;
      line-height: 20px;
    }
    &__price{
      font-size: 21px;
    }
    &__field{
      font-size: 16px;
    }
    &__stars{
      font-size: 11px;
      line-height: 25px;
    }
    &__main{
      margin-top: 10px;
    }
    &__text{
      line-height: 21px;
    }
    &__btn{
      margin-top: 20px;
    }
  }
  .skills{
    &__title{
      text-align: center;
    }
  }
  .achievements{
    &__list{
      flex-direction: column;
    }
    &__item{
      flex: unset;
    }

  }
  .item-achievements{
    &__icon{
      height: 100%;
    }
  }
  .class{
    &__top{
      margin-bottom: 30px ;
    }
    &__container{
      flex-direction: column;
    }
    &__frame {
      flex: 0 1 322px;
    }
    &__text{
      max-width: 100%;
      margin-bottom: 40px;
    }
  }
  .gallery{
    &__content{
      grid-auto-rows: 350px;
    }
    &__photo{
      height: 350px;
      grid-area: auto;
    }
    &__btn{
      left: calc(50% - 105px);
      padding: 10px 30px;
    }
  }
  .news{
    &__list{
      flex-direction: column;
    }
    &__item{
      display: flex;
      width: 100%;
      max-width: 100%;
    }
  }

  .item-news{
    &__image{
      width: 210px;
      object-fit: cover; 
    }
    &__content{
      padding: 15px;
    }
  }
  .footer{
    &__top{
      gap: 20px;
      flex-direction: column;
    }
    &__signup, &__form{
      flex: none;
    }
    &__form{
      width: 100%;
      & input[type=email]{
        width: 62%;
      }
    }
    &__btn{
      padding: 10px 0;
      width: 30%;
    }

    &__main{
      justify-content: space-around;
      flex-wrap: wrap;
    }
    &__bottom{
      flex-direction: column;
      gap: 20px;
      align-items:center
    }  
  }
  .socials-footer{
    justify-content: space-around;
  }
  .about, .courses, .interested, .news {
    padding: 50px 0;
  }
  .achievements, .footer, .gallery{
    padding-top: 50px;
  }
  .skills, .class{
    padding-bottom: 50px;
  }
}

@include _480{
  .main-header{
    &__container{
      grid-template-columns: auto auto auto auto;
      column-gap: 10px
    }
  }
  .btn{
    padding: 7px 20px;
    line-height: 24px;
  }
  .learn{
    &__box{
      padding-top: 200px;
    }
    &__title{
      font-size: 30px;
      line-height: 36px;
      padding-bottom: 10px;
      &::after{
        height: 2px;
      }
    }
    &__subtitle{
      font-size: 16px;
      line-height: 20px;
      margin-top: 10px;
    }
  }
  .about{
    &__title{
      margin-bottom: 20px;
    }
    &__container{
      row-gap: 20px;
    }
  }
  .courses{
    &__title{
      margin-bottom: 40px;
    }
    &__item{
      display: block;
    }
  }
  .item-courses{
    &__image{
      width: 100%;
    }
    &__text{
      font-size: 14px;
    }
  }
  .achievements{
    &__title{
      margin-bottom: 20px;
    }
    &__list{
      margin-bottom: 20px;
    }
  }
  .item-achievements{
    &__num{
      font-size: 25px;
      line-height: 28px
    }
    &__name{
      font-size: 14px;
    }
  }
  .class{
    &__text{
      letter-spacing: 0px;
    }
    &__btn{
      font-size: 14px;
    }
  }
  .gallery{
    &__btn{
      left: calc(50% - 95px);
    }
  }
  .item-cards{
    padding: 20px;
    &__image{
      width: 100%;
      height: 250px;
    }
    &__main{
      margin: 15px 0 10px;
    }
    &__title{
      font-size: 26px;
    }
    &__subtitle{
      font-size: 16px;
    }
    &__time{
      margin: 10px 0;
      font-size: 14px;
      line-height: 22px;
    }
    &__feature{
      font-size: 14px;
    }
  } 
  .news{
    &__item{
      display: block;
    }
    &__list{
      margin-bottom: 20px;
    }
    &__btn{
      font-size: 14px;
    }
  }
  .item-news{
    &__image{
      width: 100%;
      height: 250px;
    }
    &__text{
      font-size: 14px;
    }
  }

  .footer{
    &__main{
      justify-content: flex-start;
    }
    &__map{
      max-width: 300px;
    }
    &__btn{
      font-size: 10px;
    }
    &__copyright{
      text-align: center;
    }
    &__btn{
      padding: 10px 0;
    }
  }
}

